@import "index.scss";

.b-page {
    height: 100vh;

    &.b-login-page {
        background: $white-color;
    }

    &.b-page_background {
        background: $background-color;
        
        ::before {    
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-image: url('/img/space-background.jpeg');
            z-index: -1;
        }
  }
}