html {
  position: relative;
  min-height: 100%;
}

/* Color */

.green-gradient {
  background-image: linear-gradient(to bottom, #41BB4C 0%, #0BA449 100%);
}

.white {
  color: #fff;
}

.grey {
  background-color: #F9F9F9;
}

/* Block element */

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.margin-vert-auto {
  margin: 0 auto;
}

/* Flex element */

.flex-vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Button */

.button {
  display: block;
  border-radius: 25px;
  width: 120px;
  border: 0 none;
}

.button.btn-secondary, button.btn-secondary {
  background: #F9F9F9;
  border: 1px solid #ced4da;
  color: #707880;
}

.button.btn-primary {
    background: #FF9C27;
    color: #fff;
}
 
.button.btn-primary:hover {
    background: #ee9324;
}
 
.button.btn-primary:active, .button.btn-primary:focus {
    background: #c0761c;
    box-shadow: none;
    outline: none;
}