.account-item, .account-item::after {
  transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
}

.account-list-header {
  display: flex;
  align-items: center;
  min-width: 200px;
}

.account-item {
  outline: none!important;
  box-shadow: none;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.account-item::after {
  content: '';
  background:  #41BB4C;
	left: 0;
	bottom: 0;
  height: 100%;
  width: 0%;
	position: absolute;
	z-index: -1;
}

.account-item.active-item {
  color: #fff;
}

.account-item.active-item:after {
	width: 100%;
}

.account-icon {
  height: 30px;
  width: 30px;
}

.account-row-name {
  margin-left: 10px;
  margin-right: auto;
}
.accounts-title {
  margin-right: auto;
}

.account-row-balance {
  margin-left: 100px;
}