.accounts-table th, .accounts-table td {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  cursor: default;
}

.accounts-table thead {
  background-image: linear-gradient(to bottom, #41BB4C 0%, #0BA449 100%);
}

.accounts-table .row-total {
  font-weight: bold;
  border-top: 2px solid black;
  background-color: rgba(11, 164, 73, .2);
}

.accounts-table .active-row {
  background-color: #FF9C27;
}

.text-right {
  text-align: right;
}