.login-block {
  padding: 100px 20px 100px 20px;
  border-radius: 20px;
  height: 500px;
  margin-bottom: 10px;
}

@media (min-width: 1200px) { 
  .login-block {
      max-width: 300px;
      margin-left: auto;
    }
}


.form-login {
  padding: 15px;
  background-color: #fff;
  border-radius: 0px 0px 25px 25px;
}

#login-label {
  margin-top: 0;
}

.radius-up-left, .radius-up-left a {
  border-top-left-radius: 25px;
}

.radius-up-right, .radius-up-right a {
  border-top-right-radius: 25px;
}

.form-login-tabs a.nav-item {
  background-color: transparent;
  color: #777;
  border: none;
  outline: none;
  text-align: center;
  width: 50%;
}

.form-login-tabs a.nav-item.active {
  color: #000000;
  text-decoration: underline;
  background: none;
}
