.b-rocket {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(90deg, rgba(26,166,208,1) 0%, rgba(255,255,255,1) 100%);
    overflow: hidden;

    .b-rocket__rocket {
        width: 150px;
        animation: rocket-move infinite 1s ease;

        &::after {
            content: '';
            position: absolute;
            bottom: -190px;
            left: 55px;
            width: 40px;
            height: 200px;
            z-index: -1;
            background: linear-gradient(#9e9e9e, transparent);
        }

        svg {
            transform: rotate(-45deg);
        }
    }

    .b-rocket__stars {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .b-rocket__star {
            position: absolute;
            width: 2px;
            background: #fff;
            animation: star-move linear infinite;
        }
    }
}

@keyframes rocket-move {
    0%,100% {
        transform: translateY(4px);
    }
    50% {
        transform: translateY(-4px);
    }
}

@keyframes star-move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}